<!DOCTYPE html>
{% set level = level|default(0) %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% if google_analytics -%}
    <meta name="google_analytics" account="{{ google_analytics }}" />
    {%- endif %}
    <meta name="doc_root_hash" value="{{ doc_root_hash }}" />
    {% set title = title|default("Index") %}
    <title>{%- if title %}{{ title }} - {% endif -%}CollScientia</title>
    <link href='{{ "static/style.css"|prefix }}' type="text/css" rel="stylesheet" />
{#  for reasons I don't know, jquery needs to be on top (otherwise sagecell doesn't work properly) #}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{# https://www.google.com/fonts#UsePlace:use/Collection:Lato:400,400italic,700,700italic|Ubuntu+Mono:400,700,400italic,700italic #}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
{# <script src="https://raw.githubusercontent.com/julien-maurel/jQuery-Storage-API/master/jquery.storageapi.min.js"></script> #}
    <script src="{{ 'static/jquery.storageapi.js'|prefix }}"></script>
</head>
<body>

<header>
    {% block header %}
    <h1>{{ title }}</h1>
    <nav>
        <ul>
            <li><a href="{{ 'hashtag/index.html'|prefix }}">Hashtags</a></li>
            <li><a href="index.html">HOME</a></li>
            {% if level == 1 %}
            <li><a href="../index.html">UP</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endblock %}
</header>

<article>
{% block content %}
{% endblock %}
</article>

<footer>
    <a href="http://sagemath.org">Sage Mathematical Software System</a>
    |
    <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 Licensed</a>
</footer>

<script src='{{ "static/collscientiae.js"|prefix }}' type="text/javascript"></script>
<script src="http://sagecell.sagemath.org/embedded_sagecell.js"></script>
</body>
</html>
