{% extends 'base.html' %}
{% from "macros.html" import document_list %}


{% block title %}
<nav id="breadcrum">
<a href="../index.html">&#8984;</a>
<a href="../{{  doc.namespace }}/index.html">{{ doc.namespace|title }}</a>
{% for name, link in doc.breadcrum() %}
    <a href="{{ link }}.html"
    {% if loop.last -%}class="active"{%- endif -%}
    >{{ name }}</a>
{%  endfor %}
</nav>
{% endblock %}

{% block content %}
<article>
<section class="intro">
{% if doc.subtitle -%}
    <div class="subtitle">{{ doc.subtitle }}</div>
{%- endif %}
    {% if doc.abstract %}
    <div class="abstract">{{ doc.abstract }}</div>
    {% endif %}
</section>

<section class="content">
{{ doc.output }}
</section>

<section class="outro">
{{  document_list("See also", seealso) }}
{{  document_list("Mentioned in", backlinks) }}
</section>
</article>

{% endblock %}