{% extends 'base.html' %}
{% from "macros.html" import document_list %}

{% block content %}

<section class="intro">
    <h2>{{ doc.title }}</h2>
    <div class="subtitle">{{ doc.subtitle }}</div>
    {% if doc.abstract %}
    <div class="abstract">{{ doc.abstract }}</div>
    {% endif %}
</section>

<section class="content">
{{ doc.output }}
</section>

<section class="outro">
{{  document_list("See also", doc.seealso) }}
{{  document_list("Mentioned in", backlinks) }}
</section>

{% endblock %}