{% extends 'base.html' %}

{% block content %}

<section class="intro">
    <h2>{{ doc.title }}</h2>
    <div class="subtitle">{{ doc.subtitle }}</div>
    {% if doc.abstract %}
    <div class="abstract">{{ doc.abstract }}</div>
    {% endif %}
</section>

<section class="content">
{{ doc.output }}
</section>

<section class="outro">
{% if doc.seealso|length > 0 %}
<h3>See Also</h3>
<ul class="seealso">
{% for document in doc.seealso %}
    <li><a href="../{{ doc.namespace }}/{{ document.docid }}.html">{{ document.title }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if doc.backlinks|length > 0 %}
<h3>Backlinks</h3>
<ul class="backlinks">
{% for document in doc.backlinks %}
    <li><a href="../{{ doc.namespace }}/{{ document.docid }}.html">{{ document.title }}</a></li>
{% endfor %}
</ul>
{% endif %}

</section>

{% endblock %}