{% extends 'base.html' %}

{% block content %}
<article>
<section class="content">

{% for group in index|groupby('group') %}
    {% if group.grouper != none %}
        <h2>{{ group.grouper|title }}</h2>
    {% endif %}
    <div class="indextable">
      {% for T in entrytypes %}
        {% for entry in group.list|indexsort %}
        {% if entry.type == T %}
        <div>
            <div class="{{ entry.type }}">
                <a href='{{ entry.href }}.html'><span></span>{{ entry.title }}</a>
            </div>
            {%- if entry.description != None -%}
                <div>{{  entry.description }}</div>
            {%- endif -%}
            {%- if entry.type == "dir" -%}
                <div><a knowl="{{ namespace }}/{{ entry.href }}">{{  entry.title }} Index</a></div>
            {%- endif -%}
        </div>
        {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
{% endfor %}

</section>
</article>
{% endblock %}