{% extends 'base.html' %}

{% block content %}
<article>
<section class="content">

<div class="indextable">
{% for group in index|groupby('group') %}
    {% if group.grouper != "" %}
    <h1>{{ group.grouper|title }}</h1>
    {% endif %}

    {% for T in entrytypes %}
        {% for entry in group.list|indexsort %}
        {% if entry.type == T %}
            {%- if entry.type == "dir" -%}
            <a class="{{ entry.type }}"
               href='{{ entry.href }}.html'>
                <div class="title"><div></div>{{ entry.title }}</div>
                <div class="expand" knowl="{{ namespace }}/{{ entry.href }}">&#8650;</div>
            </a>
            {%- else -%}
            <a class="{{ entry.type }}"
               href='{{ entry.href }}.html'>
                <div class="title"><div></div>{{ entry.title }}</div>
                {% if entry.description != none -%}
                    <div class="descr">{{ entry.description }}</div>
                {% endif %}
                <div class="expand" knowl="{{ namespace }}/{{ entry.href }}" limit="3">&#8650;</div>
            </a>
            {%- endif %}

            {# <a href='{{ entry.href }}.html'>open</a> #}
        {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
</div>

</section>
</article>
{% endblock %}