/* ==========================================================================
 * VARIABLE DECLARATION
 * ==========================================================================

// smallest unit for spacing, round borders, etc.
// always use $x, $x/2 and so on
$x: 32px

// colors
$col_base: #5c5ccc
$col_dark: #222

$adj_up: 35
$adj_dn: 30
$adj_hue: -35

$col1:  adjust_hue($col_base, 0)
$col1d: darken($col1, $adj_dn)
$col1l: lighten($col1, $adj_up)

$col2:  adjust_hue($col_base, $adj_hue)
$col2d: darken($col2, $adj_dn)
$col2l: lighten($col2, $adj_up)

$col3:  adjust_hue($col_base, 3 * $adj_hue)
$col3d: darken($col3, $adj_dn)
$col3l: lighten($col3, $adj_up)

// @media
$screen-small: 480px
$screen-medium: 768px
$screen-large: 1140px

/* ==========================================================================
 * MIXIN DEFINITIONS
 * ==========================================================================

=sans-serif
  // https://www.google.com/fonts#UsePlace:use/Collection:Lato:400,400italic,700,700italic|Ubuntu+Mono:400,700,400italic,700italic
  font-family: 'Lato', sans-serif

=monospace
  font-family: "Ubuntu Mono", monospace

=media($media)
  @if $media == max-narrow
    @media only screen and (max-width: $screen-small)
      @content

  @else if $media == min-narrow
    @media only screen and (min-width: $screen-small)
      @content

  @else if $media == max-medium
    //@media only screen and (min-width: $screen-small + 1) and (max-width: $screen-large - 1)
    @media only screen and (max-width: $screen-medium)
      @content

  @else if $media == min-medium
    @media only screen and (min-width: $screen-medium)
      @content

  @else if $media == min-wide
    @media only screen and (min-width: $screen-large)
      @content

=round($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=round-top-left($radius)
  border-top-left-radius:           $radius
  -moz-border-radius-topleft:       $radius
  -webkit-border-top-left-radius:   $radius

=round-top-right($radius)
  border-top-right-radius:          $radius
  -moz-border-radius-topright:      $radius
  -webkit-border-top-right-radius:  $radius

=round-bottom-left($radius)
  border-bottom-left-radius:           $radius
  -moz-border-radius-bottomleft:       $radius
  -webkit-border-bottom-left-radius:   $radius

=round-bottom-right($radius)
  border-bottom-right-radius:           $radius
  -moz-border-radius-bottomright:       $radius
  -webkit-border-bottom-right-radius:   $radius

=round-bottom($radius)
  @include round-bottom-left($radius)
  @include round-bottom-right($radius)

=round-top($radius)
  @include round-top-left($radius)
  @include round-top-right($radius)

=transition($style...)
  -webkit-transition: $style
  -moz-transition: $style
  -o-transition: $style
  -ms-transition: $style
  transition: $style

$animation-knowl: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95)

=transition-knowl
  +transition(all #{$animation-knowl})
  +transition(background #{$animation-knowl})
  +transition(border-color #{$animation-knowl})
  +transition(padding #{$animation-knowl})

=shadow($style)
  -webkit-box-shadow:  $style
  -moz-box-shadow:  $style
  box-shadow: $style

=shadow-normal
  +shadow(0 5px 10px #aaa)

=shadow-strong
  +shadow(0 5px 10px #666)

// that's a mixin and below a placeholder via %
// ALWAYS use it as @extend %clearfix, not as an include!
// (unless you are inside an @media query, then "+clearfix" without @extend)
=clearfix
  &:after
    content: ""
    display: table
    clear: both

%clearfix
  +clearfix

=narrowpaddingonsmallscreen
  @media only screen and (max-width: $screen-small)
    padding:
      left: $x / 2
      right: $x / 2
