/*
 *! collscientiae style
 *! draws bits and pieces from git.io/normalize and http://h5bp.com/ (both MIT License)
 */


@import global
@import normalize
@import boilerplate
@import prism

/* ==========================================================================
 * MAIN PART STARTS HERE
 * ==========================================================================

a,
a:visited
  color: $col1
  text-decoration: none

//article
//  a:hover
//    text-decoration: underline

.round
  +round($x)

html
  padding: 0
  margin: 0

body
  +sans-serif
  font:
    size: 100%
  // line-height: 1.1
  margin: 0 auto
  padding: 0

  //@media only screen and (min-width: 1200px)
  max-width: 1200px

  @include media(medium)
    padding: 0
    margin: 0

  @include media(narrow)
    padding: 0
    margin: 0

  @include media(min-medium)
    +shadow(0 5px 10px #aaa)


html,
button,
input,
select,
textarea
  color: $col_dark

// add class .hover to :hover
.hover
  @extend a:hover

section.intro
  background: $col2l

section.content
  min-height: 60vh
  background: $col3l

section.outro
  background: $col2l

// ==============

nav#menu
  @include media(min-medium)
    float: right
  > a
    display: block
    margin: $x 0
    padding: $x
    line-height: $x
    font-size: 1.5em
    text-align: center
    text-decoration: none
    font-weight: bold
    color: $col1l
    background: $col1d
    &:visited
      color: $col3l
    &:hover
      color: white
      background: $col1

#breadcrum
  padding: $x 3*$x $x 0
  display: inline-block
  overflow: hidden

  > a
    font-size: 1.5em
    line-height: 3*$x
    padding: 0 $x 0 (3*$x)
    position: relative
    display: block
    float: left
    background: $col1d
    color: white
    font-weight: bold
    white-space: nowrap
    @include media(medium)
      font-size: 1em

  > a:first-child,
  > a:last-child
    font-size: 1.5em

  > a:first-child
    padding-left: $x
    > span
      display: inline-block
      transform: rotate(45deg)

  > a:last-child,
  > a:hover
    background: $col1l
    color: black

  > a:last-child:after,
  > a:hover:after
    background: $col1l

  > a:after
    content: ""
    position: absolute
    background: $col1d
    top: 0
    right: -1.5 * $x
    width: 3 * $x
    height: 3 * $x
    transform: scale(0.707) rotate(45deg)
    z-index: 1
    // border: 1px solid red
    box-shadow: 3px -3px 0 3px white //, 3px -3px 0 2px rgba(0, 0, 0, 0.2)
    border-radius: 0 0px 0 100px

  > a:last-child:after
    box-shadow: none
    // content: none

article aside
  color: white
  padding: 0px 5% 10px

article > section
  padding: $x $x
  @include media(medium)
    padding-top: $x
  +narrowpaddingonsmallscreen

header
  border-bottom: $x/2 solid $col1
  display: block
  @include media(min-narrow)
    nav#menu
      a
        float: left
      &:first-child a
        margin-left: 0
      &:last-child a
        margin-right: 0


footer,
article aside
  border-top: $x solid $col1

header,
footer,
article aside
  background: $col1d
  @extend %clearfix

header,
footer
  @include clearfix



header > h1,
footer
  color: $col1
  +narrowpaddingonsmallscreen

header > h1
  padding: $x 0 0 0
  margin: 0 0 $x $x
  @include media(min-medium)
    bottom: 0
    float: left

footer
  min-height: 5 * $x

footer > div
  padding: $x

div[mode]
  @include clearfix
div
  > code
    border: 1px solid $col2
    padding: $x/2
div[mode]
  > code
    +round-top($x/4)
    +round-bottom-right($x/4)
div:not([mode])
  > code
    +round($x/4)



a.activate_cell,
.knowl-output a.activate_cell
  cursor: pointer
  display: inline-block
  margin-top: -1px
  z-index: 1
  padding: $x/2
  border: 1px solid $col2
  border-top: 0
  +round-bottom($x/4)

/* MODULES INDEX */

#index
  list-style: none
  padding: 0
  li
    padding: $x/2 0
    list-style: none
    > a > span
      display: inline-block
      width: 1em
    &.dir > a > span:before
      content: "\2295"
    &.hashtag > a > span:before
      content: "#"


.modules
  display: table
  @include media(narrow)
    display: block

.modules > div
  display: table-row
  @include media(medium)
    display: block
    margin: 0

.modules > div > div
  display: table-cell
  padding-top: $x
  &:nth-child(2)
    padding-left: $x
  @include media(medium)
    display: block
    &:nth-child(2)
      padding-left: 2 * $x
      padding-top: inherit

span.circular
  border: 1px solid red
  padding: 2px 3px
  &:hover
    background: lightcoral
  a
    +monospace
    &:hover
      font-weight: bold

/*
 * KNOWLS
 */

$kx: $x/2
$kcol: $col3
$kcold: $col3d


*[knowl]
  display: inline
  border-bottom: 1px dotted $kcol
  color: $kcold
  cursor: pointer
  +round-top($kx / 2)
  margin: 3px 0 0 0
  +transition(all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95))

  &:hover,
  &.active
    border-bottom: 1px solid $kcol
    background: $kcol
    color: black
    padding: 0
    margin: 0 0 0 0

  &.active
    padding:
      left: .5em
      right: .5em

  &.hover // class hover, set by JS
    color: white
    background: $kcold
    border-color: $kcold

div.knowl
  > .knowl-output,
  > div.knowl-footer
    +transition(all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95))
  &.hover // class hover, set by JS
    > .knowl-output
      border-color: $kcold
    > div.knowl-footer
      background-color: $kcold

//div > *[knowl],
//p > *[knowl]
//  position: relative

.knowl-error
  color: red
  border-bottom: 0

.knowl-output
  background: $col3l
  border: $kx solid $kcol
  border-top-width: 1px
  +round-bottom($kx)
  padding: 0 $kx $kx $kx
  margin:
    top: 0
    bottom: 0
    right: 0

  div + a.activate_cell
    margin-bottom: $kx

  h1
    margin: 2*$kx 0 0 0
    color: $kcold
  h2
    margin: $kx 0 0 0
    color: $kcold
  a
    display: inline

  &.loading
    color: grey
    font-style: italic
    font-size: small

// nested knowls
.knowl-output
  .knowl-output,
  .knowl-output.loading
    margin-left: 0
    margin-right: 0

.knowl-footer
  text-align: right
  height: $kx + 2px
  position: relative
  bottom: $kx + 2px
  font:
    weight: bold
    size: $kx + 3
  line-height: $kx + 1px
  background: $kcol
  color: white
  padding: 0 $kx
  margin:  0 $kx
  & a
    color: white
  & a:hover
    background: none
    color: lightgray

/* ==========================================================================
 * Helper classes
 * ==========================================================================

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden


/* ==========================================================================
 * Print styles
 * ==========================================================================

@media print
  *
    background: transparent !important
    color: #000 !important
    +shadow(none !important)
    text-shadow: none !important
  a,
  a:visited
    text-decoration: underline
  a[href]:after
    content: " (" attr(href) ")"
  abbr[title]:after
    content: " (" attr(title) ")"
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after
    content: ""
  pre,
  blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  tr,
  img
    page-break-inside: avoid
  img
    max-width: 100% !important
  @page
    margin: 0.5cm

  p,
  h2,
  h3
    orphans: 3
    widows: 3
  h2,
  h3
    page-break-after: avoid
