/*
 *! collscientiae style
 *! draws bits and pieces from git.io/normalize and http://h5bp.com/ (both MIT License)
 */

@import global
@import normalize
@import boilerplate
@import prism

/* ==========================================================================
 * MAIN PART STARTS HERE
 * ==========================================================================

a,
a:visited
  color: $col1
  text-decoration: none

section
  a:hover
    color: $col1d

.round
  +round($x)

html
  padding: 0
  margin: 0
  overflow-y: scroll
  @include media(max-medium)
    overflow: auto

body
  +sans-serif
  color: $col_dark
  font:
    size: 100%
  // line-height: 1.1
  margin: 0 auto
  padding: 0

  //@media only screen and (min-width: 1200px)
  max-width: 1200px

  @include media(max-medium)
    padding: 0
    margin: 0

  @include media(max-narrow)
    padding: 0
    margin: 0

  @include media(min-medium)
    +shadow-normal


html,
button,
input,
select,
textarea
  color: $col_dark

// add class .hover to :hover
// .hover
//  @extend a:hover

section.intro
  background: $col2l

  > .abstract:before
    content: "Abstract."
    color: gray
    padding-right: $x / 2

  > .abstract
    font-style: italic

  > .subtitle
    font-weight: bold

  > .subtitle + .abstract
    margin-top: $x / 2

section.content
  min-height: 50vh
  background: white // $col3l
  div:not([mode])
    > code
      +round($x/4)

  > p
    margin-bottom: $x / 2

section.outro

  > div
    display: table
    > div
      display: table-row
      > div
        display: table-cell
        padding-bottom: $x/2
        &:first-child
          font-weight: bold
          padding-right: $x
      &:last-child
        > div
          padding-bottom: 0
  background: $col2l
  position: relative
  > a#source
    font-size: 75%
    position: absolute
    bottom: 0
    right: $x

// =========== sagecell basics

div.sagecell_init
  @include clearfix
  > code
    border: 1px solid $col2
    padding: $x/2
    +round-top($x/4)
    +round-bottom-right($x/4)

div.sagecell_init.hover > code,
a.activate_cell.hover
  border-color: $col1d !important
a.activate_cell.hover
  color: $col1d !important


// ==============  nav#menu

$nav-scale: 1

nav#menu
  padding: $x 0
  @include media(min-medium)
    float: right
  > a
    display: block
    padding: 0
    line-height: 2*$x
    width: 2 * $x
    height: 2 * $x
    margin: 0
    font-size: 200%
    text-align: center
    text-decoration: none
    font-weight: bold
    color: white
    background: $col1d
    &:hover
      color: white
      background: $col1

=triangle($size)
  &:after
    content: ""
    position: absolute
    background: $col1
    top: 0
    right: - ($size/2) * $x
    width: $size * $x
    height: $size * $x
    transform: scale(0.707) rotate(45deg)
    z-index: 1
    // border: 1px solid red
    box-shadow: 3px -3px 0 3px white //, 3px -3px 0 2px rgba(0, 0, 0, 0.2)
    border-radius: 0 0 0 100px

  &:hover:after
    background-color: $col1d

nav#breadcrumb
  padding: $x 2*$x $x 0
  display: inline-block
  overflow: hidden

  > a
    font-size: 150%
    line-height: 2*$x
    padding: 0 $x 0 (2*$x)
    position: relative
    display: block
    float: left
    background: $col1d
    color: white
    font-weight: bold
    white-space: nowrap
    @include media(max-medium)
      font-size: 1em

  > a:first-child,
  > a:last-child
    font-size: 1.5em

  > a:first-child
    padding-left: $x
    > span
      display: inline-block
      transform: rotate(45deg) scale(1.5)

  > a:last-child,
  > a:hover
    background: $col1
    // color: black

  > a:last-child:after
    background: $col1

  > a
    +triangle(2)
    &:after
      background: $col1d
    &:hover:after
      background: $col1

  > a:last-child:after
    box-shadow: none
    // content: none

article aside
  color: white
  padding: 0px 5% 10px

article > section
  padding: $x/2 $x
  @include media(max-medium)
    padding-top: $x
  +narrowpaddingonsmallscreen

header
  border-bottom: $x/2 solid $col1
  display: block
  @include media(min-narrow)
    nav#menu
      a
        float: left
      &:first-child a
        margin-left: 0
      &:last-child a
        margin-right: 0

footer,
article aside
  border-top: $x/2 solid $col1

header,
footer,
article aside
  background: $col1d
  @extend %clearfix

header,
footer
  @include clearfix

header > h1,
footer
  color: $col1
  +narrowpaddingonsmallscreen

header > h1
  padding: $x 0 0 0
  margin: 0 0 $x $x
  @include media(min-medium)
    bottom: 0
    float: left

footer
  // min-height: 2 * $x
  a:hover
    color: $col1l
  > div
    padding: $x $x 0 $x
    &:last-child
      padding-bottom: $x
    & + div
      padding-top: $x / 2

a.activate_cell,
.knowl-output a.activate_cell
  cursor: pointer
  display: inline-block
  margin-top: -1px
  z-index: 1
  padding: $x/2
  border: 1px solid $col2
  border-top: 0
  +round-bottom($x/4)
  margin-bottom: $x

/* MODULES INDEX */

//#index
//  list-style: none
//  padding: 0
//  li
//    padding: $x/2 0
//    list-style: none
//    > a > span
//      display: inline-block
//      width: 1em

div.knowl
  > .knowl-output
    +round($x/4)
    > .indextable
      // padding-top: $x/2
      > a
        //& > div:first-child
        //  line-height: $x
        //  padding-top: 0
        // & > div:nth-child(2)
        //  line-height: $x - 1px
        padding-right: $x
        min-width: 3*$x


section.content > .indextable
  margin: 0 15%

.indextable
  margin: 0 $x/2
  position: relative

  // this is the one which expands between the index entries
  > a
    > div.knowl
      border: 0
      background: none
      +round($kx)
      > .knowl-output
        background: white
        padding: $x/2 0
      > .knowl-footer
        display: none
      &.hover,
      &.active
        +shadow(none)

  > h1,
  > h2
    margin: $x 0 0 0
    padding-left: $x/2

  > h1
    font-size: $x * .75
  > h2
    font-size: $x * .66

  > a
    border: none
    margin: $x/2 0
    min-height: 2 * $x
    min-width: 3 * $x
    background: white
    +round($x/4)
    //+animate(box-shadow)
    color: $col_dark
    display: block
    position: relative
    // white-space: nowrap
    padding: 0 0 0 (5 * $x)

    > div.title
      font-size: .75 * $x
      padding-top: $x / 2
    > div.descr
      margin-top: $x/2
      overflow: hidden
      max-width: 100%
      white-space: normal
      padding-bottom: $x/2

    &.file,
    &.dir,
    &.hashtag
      padding-left: $x/2

    &:hover
      // background: $col_lightgray
      color: $col_dark
      +shadow-normal

    > div.expand
      font-size: $x
      // vertical-align: top
      display: inline
      position: absolute
      right: 0px
      top: 0px
      color: $col1
      vertical-align: middle
      line-height: 2*$x
      &[knowl]
        border: 0
        padding-left: $x/2
        padding-right: $x/2
        +round-top-right($x/4)
        +round-bottom-left($x/4)
        color: $col1
        height: $x * 2
        background: none !important

        // border-bottom-color: $col1 !important
        &:hover,
        &.active
          color: $col1d !important
          background: $col1l !important
          // border-bottom-color: $col1 !important

    &.dir,
    &.hashtag
      > div:first-child
        padding-left: $x/2
      > div:first-child > div
        padding-right: $x / 2
        display: inline-block
        position: relative
        left: -$x/2
    &.dir > div:first-child > div:before
      content: "\2295"
    &.hashtag > div:first-child > div:before
      content: "#"
    &.dir
      //height: $x
      min-height: 1.5 * $x
      padding-top: $x/2
      position: relative
      > div.title
        font-size: $x * .75
      > div
        padding-top: 0
        top: 0

  &.modules > a
    height: 4*$x
    > div.title
      padding-top: $x

  > a > img,
  > a > span
    position: absolute
    left: $x/2
    margin-top: $x/2
    margin-right: $x/2
    background: transparent
    display: block
    height: 3*$x
    width: 3*$x
    &.noicon
      transform: rotate(45deg)
      line-height: 3*$x
      font-size: 3*$x
      padding-left: $x/2
      padding-top: $x/2
      margin-top: 0
      margin-right: 0
      left: $x/2
      top: 0



span.circular
  border: 1px solid red
  padding: 2px 3px
  &:hover
    background: lightcoral
  a
    +monospace
    &:hover
      font-weight: bold

/*
 * ================= KNOWLS
 */

=knowl-link-hover
  color: white
  border-color: $kcold !important
  +round($kx/2)

*[knowl]
  display: inline-block
  border-bottom: 1px dashed $kcol
  color: $col_dark
  cursor: pointer
  //+round-top($kx / 2)
  +transition(color #{$animation-knowl}, background #{$animation-knowl}, padding #{$animation-knowl}, border-bottom #{$animation-knowl}, border-radius #{$animation-knowl})
  padding:
    left: 2px
    right: 2px
  margin:
    left: -2px
    right: -2px
  &:first-child
    margin-left: 0

  &.active,
  &.hover
    border-color: $kcold
    +knowl-link-hover
    background: $kcold
  &.hover
    color: $kcoll
  &.active
    padding:
      left: $kx/2
      right: $kx/2

//p + div.knowl
  margin-top: -$x/2

div.knowl
  +round($kx)
  +transition(border-color #{$animation-knowl})
  margin: 0 0 $x 0

  border: 1px solid white
  &.hover
    border: 1px solid $kcold
  //border: $kx solid $kcol
  //border-top-width: 1px
  //border-bottom-width: $kx + 3px
  background: white

  //> .knowl-output,
  //> div.knowl-footer
  //&:hover,
  &.hover // class hover, set by JS
    +shadow-normal
    // > div.knowl-footer > a
    //  color: white

  > .knowl-error
    color: red
    border-bottom: 0

  > .knowl-output
    overflow-y: auto
    max-height: 75vh
    // knowl inside knowl!
    .knowl-output
      max-height: 50vh
    padding: 0 $kx
    margin: 0

    div + a.activate_cell
      margin-bottom: $kx

    > h1,
    > h2,
    > h3
      color: $kcol
      +transition(color #{$animation-knowl})
    > h1
      margin: 2*$kx 0 0 0
    > h2
      margin: $kx 0 0 0
    > h2
      margin: $kx * .75 0 0 0
    &:hover
      > h1,
      > h2,
      > h3
        color: $kcold

    > p
      padding-bottom: $x / 2
    > p:first-child
      padding-top: $x / 2

    &.loading
      color: grey
      font-style: italic
      font-size: small

    // nested knowls
    .knowl-output,
    .knowl-output.loading
      margin-left: 0
      margin-right: 0

  > .knowl-footer
    text-align: right
    height: $kx + 2px
    position: relative
    bottom: 3px
    font:
      weight: bold
      size: $kx + 3
    // line-height: $kx + 4px
    background: transparent
    padding: 0 $kx+2px
    margin:  0
    > a
      color: white
      +transition(color #{$animation-knowl})
      transform: rotate(45deg)
  &.hover > .knowl-footer > a
    color: $kcold


/* ==========================================================================
 * Helper classes
 * ==========================================================================

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden


/* ==========================================================================
 * Print styles
 * ==========================================================================

@media print
  *
    background: transparent !important
    color: #000 !important
    +shadow(none !important)
    text-shadow: none !important
  a,
  a:visited
    text-decoration: underline
  a[href]:after
    content: " (" attr(href) ")"
  abbr[title]:after
    content: " (" attr(title) ")"
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after
    content: ""
  pre,
  blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  tr,
  img
    page-break-inside: avoid
  img
    max-width: 100% !important
  @page
    margin: 0.5cm

  p,
  h2,
  h3
    orphans: 3
    widows: 3
  h2,
  h3
    page-break-after: avoid


