/*
 *! collscientiae style
 *! draws bits and pieces from git.io/normalize and http://h5bp.com/ (both MIT License)
 */

@import global
@import normalize
@import boilerplate
@import prism

/* ==========================================================================
 * MAIN PART STARTS HERE
 * ==========================================================================

a,
a:visited
  color: $col1
  text-decoration: none

section
  a:hover
    color: $col1d

.round
  +round($x)

html
  padding: 0
  margin: 0
  overflow-y: scroll
  @include media(max-medium)
    overflow: auto

body
  +sans-serif
  color: $col_dark
  font:
    size: 100%
  // line-height: 1.1
  margin: 0 auto
  padding: 0

  //@media only screen and (min-width: 1200px)
  max-width: 1200px

  @include media(max-medium)
    padding: 0
    margin: 0

  @include media(max-narrow)
    padding: 0
    margin: 0

  @include media(min-medium)
    +shadow-normal


html,
button,
input,
select,
textarea
  color: $col_dark

// add class .hover to :hover
// .hover
//  @extend a:hover

section.intro
  background: $col2l

section.content
  min-height: 50vh
  background: white // $col3l
  div:not([mode])
    > code
      +round($x/4)

section.outro
  background: $col2l
  position: relative
  > a#source
    font-size: 75%
    position: absolute
    bottom: $x
    right: $x

// =========== sagecell basics

div.sagecell_init
  @include clearfix
  > code
    border: 1px solid $col2
    padding: $x/2
    +round-top($x/4)
    +round-bottom-right($x/4)

  //> code,
  //a.activate_cell
  //  +transition-knowl

div.sagecell_init.hover > code,
a.activate_cell.hover
  border-color: $col1d !important
a.activate_cell.hover
  color: $col1d !important


// ==============  nav#menu

nav#menu
  @include media(min-medium)
    float: right
  > a
    display: block
    margin: $x 0
    padding: $x
    line-height: $x
    font-size: 1.5em
    text-align: center
    text-decoration: none
    font-weight: bold
    color: $col1l
    background: $col1d
    &:visited
      color: $col3l
    &:hover
      color: white
      background: $col1

=triangle
  content: ""
  position: absolute
  background: $col1d
  top: 0
  right: -1.5 * $x
  width: 3 * $x
  height: 3 * $x
  transform: scale(0.707) rotate(45deg)
  z-index: 1
  // border: 1px solid red
  box-shadow: 3px -3px 0 3px white //, 3px -3px 0 2px rgba(0, 0, 0, 0.2)
  border-radius: 0 0px 0 100px

#breadcrum
  padding: $x 3*$x $x 0
  display: inline-block
  overflow: hidden

  > a
    font-size: 1.5em
    line-height: 3*$x
    padding: 0 $x 0 (3*$x)
    position: relative
    display: block
    float: left
    background: $col1d
    color: white
    font-weight: bold
    white-space: nowrap
    @include media(max-medium)
      font-size: 1em

  > a:first-child,
  > a:last-child
    font-size: 1.5em

  > a:first-child
    padding-left: $x
    > span
      display: inline-block
      transform: rotate(45deg)

  > a:last-child,
  > a:hover
    background: $col1l
    color: black

  > a:last-child:after,
  > a:hover:after
    background: $col1l

  > a:after
    +triangle

  > a:last-child:after
    box-shadow: none
    // content: none

article aside
  color: white
  padding: 0px 5% 10px

article > section
  padding: $x $x
  @include media(max-medium)
    padding-top: $x
  +narrowpaddingonsmallscreen

header
  border-bottom: $x/2 solid $col1
  display: block
  @include media(min-narrow)
    nav#menu
      a
        float: left
      &:first-child a
        margin-left: 0
      &:last-child a
        margin-right: 0


footer,
article aside
  border-top: $x solid $col1

header,
footer,
article aside
  background: $col1d
  @extend %clearfix

header,
footer
  @include clearfix

header > h1,
footer
  color: $col1
  +narrowpaddingonsmallscreen

header > h1
  padding: $x 0 0 0
  margin: 0 0 $x $x
  @include media(min-medium)
    bottom: 0
    float: left

footer
  min-height: 5 * $x
  a:hover
    color: $col1l
  > div
    padding: $x

a.activate_cell,
.knowl-output a.activate_cell
  cursor: pointer
  display: inline-block
  margin-top: -1px
  z-index: 1
  padding: $x/2
  border: 1px solid $col2
  border-top: 0
  +round-bottom($x/4)
  margin-bottom: $x

/* MODULES INDEX */

//#index
//  list-style: none
//  padding: 0
//  li
//    padding: $x/2 0
//    list-style: none
//    > a > span
//      display: inline-block
//      width: 1em


.indextable
  display: table
  margin-left: -$x
  @include media(max-narrow)
    display: block

  > div
    display: table-row
    @include media(max-medium)
      display: block
      margin: 0


    > div
      @include media(max-medium) // TODO FIX THIS
        display: block
        &:nth-child(2)
          padding-left: 2 * $x
          padding-top: inherit

      &:not(.knowl)
        display: table-cell
      &:first-child > a
        display: block
        position: relative
        white-space: nowrap
        line-height: 3*$x
        //min-width: 15vw

        font-size: 115%
        padding: 0 (3 * $x) 0 $x
        min-width: 5 * $x
        margin-right: 2 * $x
        &:hover
          background: $col1l
        &:after
          +triangle
          box-shadow: none
          background-color: transparent
        &:hover:after
          background-color: $col1l
      &:nth-child(2)
        padding-left: 2 * $x
        width: 100%
      &.dir,
      &.hashtag
        > a > span:before
          padding-right: $x / 2
      &.dir > a > span:before
        content: "\2295"
      &.hashtag > a > span:before
        content: "#"

span.circular
  border: 1px solid red
  padding: 2px 3px
  &:hover
    background: lightcoral
  a
    +monospace
    &:hover
      font-weight: bold

/*
 * ================= KNOWLS
 */

$kx: $x/2
$kcol: $col3
$kcold: $col3d


*[knowl]
  display: inline-block
  border-bottom: 1px dotted $kcol
  color: $col_dark
  cursor: pointer
  +round-top($kx / 2)
  padding:
    left: 2px
    right: 2px
  margin:
    left: -2px
    right: -2px
  &:first-child
    margin-left: 0
  +transition-knowl

  &:hover,
  &.active
    border-bottom-color: $kcol
    background: $kcol
    color: black
    //padding: 0
    //margin: 0 0 0 0

  &.active
    padding:
      left: .5em
      right: .5em

  &.hover // class hover, set by JS
    color: white
    background: $kcold
    border-color: $kcold

p + div.knowl
  margin-top: -$x

div.knowl
  +shadow-normal
  +round-bottom($kx)
  +transition-knowl
  border: $kx solid $kcol
  border-top-width: 1px
  border-bottom-width: $kx + 3px
  background: $col3l

  //> .knowl-output,
  //> div.knowl-footer
  //&:hover,
  &.hover // class hover, set by JS
    border-color: $kcold
    > div.knowl-footer
      //background-color: $kcold
      color: lightgray


  > .knowl-error
    color: red
    border-bottom: 0

  > .knowl-output
    overflow-y: auto
    max-height: 75vh
    // knowl inside knowl!
    .knowl-output
      max-height: 50vh
    padding: 0 $kx 0 $kx
    margin: 0

    div + a.activate_cell
      margin-bottom: $kx

    > h1,
    > h2,
    > h3
      color: $kcol
      +transition-knowl
    > h1
      margin: 2*$kx 0 0 0
    > h2
      margin: $kx 0 0 0
    > h2
      margin: $kx * .75 0 0 0
    &:hover
      > h1,
      > h2,
      > h3
        color: $kcold
    //a
    //  display: inline

    &.loading
      color: grey
      font-style: italic
      font-size: small

    // nested knowls
    .knowl-output,
    .knowl-output.loading
      margin-left: 0
      margin-right: 0

  .knowl-footer
    text-align: right
    height: $kx + 2px
    position: relative
    bottom: - $kx
    font:
      weight: bold
      size: $kx + 3
    line-height: $kx + 4px
    background: transparent
    color: white
    padding: 0 $kx
    margin:  0
    & a
      color: white

/* ==========================================================================
 * Helper classes
 * ==========================================================================

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden


/* ==========================================================================
 * Print styles
 * ==========================================================================

@media print
  *
    background: transparent !important
    color: #000 !important
    +shadow(none !important)
    text-shadow: none !important
  a,
  a:visited
    text-decoration: underline
  a[href]:after
    content: " (" attr(href) ")"
  abbr[title]:after
    content: " (" attr(title) ")"
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after
    content: ""
  pre,
  blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  tr,
  img
    page-break-inside: avoid
  img
    max-width: 100% !important
  @page
    margin: 0.5cm

  p,
  h2,
  h3
    orphans: 3
    widows: 3
  h2,
  h3
    page-break-after: avoid
